/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Eliminar estilo por defecto de listas */
  ul, ol {
    list-style: none;
  }
  
  /* Eliminar estilo por defecto de enlaces */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Eliminar el estilo de borde de los botones y campos de formulario */
  button, input, textarea, select {
    border: none;
    background: transparent;
    outline: none;
  }
  
  /* Eliminar el estilo por defecto de las tablas */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Normalizar el tamaño de fuente de los encabezados */
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
  }
  
  /* Restablecer el estilo por defecto de los elementos de HTML5 */
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  