body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}


#titulo{
    font-size: 60px;
    width: 60vw;
    margin: auto;
    padding: 1em;
}

.logo{
    width: 250px;
    height: 200px;
}

#logo-principal{
  display: flex;
  justify-content: center;
  
}


#conteiner{
  width: 85vw;
  margin: auto;
  margin-top: 1em;
  border: 4px solid rgb(145, 98, 190);
  border-radius: 10%;
  padding: 2em 0em 2em 0em;
  display: flex;
  justify-content: space-around;

}

.bottoms{
  display: flex;
  border: 3px solid rgb(103, 17, 103);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: violet;
  align-items: center;
  gap: 1em;
}


.bottoms :hover{
  background-color: rgb(240, 215, 74);
  transition: 1s;
}